body {
  margin: 0;
  box-sizing: border-box;
  background: rgb(43, 125, 146);
  background: rgb(43, 125, 146);
  background: linear-gradient(
    90deg,
    rgba(43, 125, 146, 0.4446640235790308) 0%,
    rgba(46, 134, 124, 0.387088233837183) 20%,
    rgba(72, 121, 130, 0.3818181798078012) 36%,
    rgba(60, 145, 150, 0.4364953745966372) 55%,
    rgba(20, 212, 223, 0.1022397248641304) 73%,
    rgba(0, 212, 255, 0.30764160156249996) 100%
  );
}
@font-face {
  font-family: mainTitle;
  src: url(../Fonts/Crimson_Text/CrimsonText-Regular.ttf);
}
@font-face {
  font-family: mainFont;
  src: url(../Fonts/Source_Code_Pro/SourceCodePro-Regular.ttf);
}
textarea {
  resize: none;
}
#newPersonPhoneNumber::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.mainContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#mainTitle {
  margin: 1em auto 1em auto;
  text-align: center;
  text-shadow: -5px 5px 36px rgb(11, 29, 29);
  color: rgba(24, 55, 163, 0.678);
  font-family: mainTitle;
}
.contacts,
.tasks,
.apointments {
  display: flex;
  margin: 0.5em;
  font-family: mainFont;
  flex-direction: column;
  min-width: 30%;
  padding: 0.5em;
  -webkit-box-shadow: -10px 0px 13px -7px #3adde9cb, 10px 0px 13px -7px #4bc7c7,
    5px 5px 15px 5px rgba(90, 207, 236, 0.781);
  box-shadow: -10px 0px 13px -7px #26c9b3, 10px 0px 13px -7px #117c9c,
    5px 5px 15px 5px rgba(48, 94, 100, 0.753);
}

#addBtn {
  margin: 1em auto 0 auto;
  max-width: 60%;
  padding: 1em;
  color: white;
  font-family: mainFont;
  background-color: rgba(43, 180, 112, 0.574);
  border: none;
  -webkit-box-shadow: -10px 0px 13px -7px #4d504e50,
    10px 0px 13px -7px #20351a46, 5px 5px 15px 5px rgba(57, 99, 55, 0.226);
  box-shadow: -10px 0px 13px -7px #204b376e, 10px 0px 13px -7px #5ece5e4d,
    5px 5px 15px 5px rgba(83, 131, 71, 0.199);
}
#addBtn:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
#contactsInputs,
#apointInput,
#tasksInput {
  margin: 0 auto 0 auto;
}
.contactsAdded {
  margin: 2em;
  min-width: 80%;
  border: #000000 solid 2px;
}
#contactsAdded {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 100%;
}
.informationCard {
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 1em;
  text-align: center;
  border-radius: 4px;
  border: solid 1px rgba(16, 62, 148, 0.836);
  min-width: 16%;
  -webkit-box-shadow: -10px 0px 13px -7px #3adde9cb, 10px 0px 13px -7px #4bc7c7,
    5px 5px 15px 5px rgba(90, 207, 236, 0.781);
  box-shadow: -10px 0px 13px -7px #26c9b3, 10px 0px 13px -7px #117c9c,
    5px 5px 15px 5px rgba(48, 94, 100, 0.753);
}
.personTitle {
  font-family: mainFont;
}
.phoneNumber {
  font-family: mainFont;
}
.personEmail {
  font-family: mainFont;
}
.deleteBtn {
  padding: 1em;
  border: none;
  color: aliceblue;
  margin: 0 auto 0 auto;
  font-size: large;
  max-width: 90%;
  background-color: rgba(18, 124, 211, 0.521);
}
.deleteBtn:hover {
  cursor: pointer;
  background-color: rgb(13, 6, 122);
  color: antiquewhite;
}
.animation {
  transform: scale(0);
  transition-duration: 2s;
}
.taskDescription {
  overflow-wrap: anywhere;
}
#tasksAdded {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.taskCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2em;
  padding: 1em;
  text-align: center;
  max-width: 16%;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.taskTitle {
  font-family: mainFont;
}
.taskDescription {
  font-family: mainFont;
}
#apointMainContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.apointContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.274);
  color: white;
  margin: 2em;
  padding: 1em;
  text-align: center;
  max-width: 16%;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.apointTitle {
  font-family: mainFont;
}
.apointAdress {
  font-family: mainFont;
}
.apointDate {
  font-family: mainFont;
}
.apointHours {
  font-family: mainFont;
}
